{% extends 'CPANABasicBlogBundle::layout.html.twig' %}

{% block title %}Successfully posted{% endblock%}

{% block body %}

<!-- container -->
<div class="container">
	<div class="row">
		<!-- Article main content -->
		<article class="col-sm-8 maincontent">
		
		<p> You have successfully deleted a comment</p>
		<p><a href="{{ path('CPANABasicBlogBundle_admin_manage_comments') }}" >Go back to Admin Manage Comments</a></p>
		<p><a href="{{ path('CPANABasicBlogBundle_admin_bloghome') }}">Go back to Admin Blog Home</a></p>
				
		</article>	
	</div>
</div>	<!-- /container -->
{% endblock %}